SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR="127.0.0.1:8848"
SPRING_CLOUD_NACOS_DISCOVERY_USERNAME="nacos-username"
SPRING_CLOUD_NACOS_DISCOVERY_PASSWORD="nacos-password"

SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.p6spy.engine.spy.P6SpyDriver
SPRING_DATASOURCE_URL="jdbc:p6spy:mysql://127.0.0.1:3306/database_name?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC"
SPRING_DATASOURCE_USERNAME="database-username"
SPRING_DATASOURCE_PASSWORD="database-password"

SPRING_DATA_REDIS_HOST="127.0.0.1"
SPRING_DATA_REDIS_PORT="6379"
SPRING_DATA_REDIS_PASSWORD="redis-password"

FRAMEWORK_GATEWAY_TOKEN_SECRET="token_secret_here(length >= 32)"

FRAMEWORK_FILE_UPLOAD_ENDPOINT="https://rustfs.astrafluxtech.com/"
FRAMEWORK_FILE_UPLOAD_ACCESS_KEY_ID="access_key_id"
FRAMEWORK_FILE_UPLOAD_ACCESS_KEY_SECRET="access_key_secret"
FRAMEWORK_FILE_UPLOAD_BUCKET_NAME="bucket_name"
FRAMEWORK_FILE_UPLOAD_REGION="region(us-west-1)"

FRAMEWORK_MESSAGE_MAIL_HOST="host(smtp.163.com)"
FRAMEWORK_MESSAGE_MAIL_PORT="port(465)"
FRAMEWORK_MESSAGE_MAIL_FROM="form(Omega<system@omega.com>)"
FRAMEWORK_MESSAGE_MAIL_USERNAME="mail-username(system@omega.com)"
FRAMEWORK_MESSAGE_MAIL_PASSWORD="mail-password"